<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>

	<!-- Bootstrap CSS -->
			<link
		rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous"
	/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	

	<style>	
		.coinflip_container {
			background-color: black;
			overflow: auto;
			white-space: nowrap;
			width: 80%;
		}	

		.coinflip_host	{
			padding: 10px;
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px;
			text-decoration: none;
			outline-style: solid;
		} 

		.block {
			width: 50%;
			text-align: left;
			border: 2px solid black;
			padding: 10px;
			margin-top: 10px;
			color:black;
			text-decoration: none; 
			background-color: none;
		}
		
		.code51 {
			background-color:red;
			color: white;
			width: 200px;
			height: 25px;
		}

		.code00 {
			background-color:green;
			color: white;
			width: 200px;
			height: 25px;
		}

		.block_to_mine {
			width: 50%;
			text-align: left;
			border: 2px solid black;
			padding: 10px;
			margin-top: 10px;
			color:black;
			text-decoration: none; 
			background-color: none;
			
		}

		.send {
			background-color: #DC143C;
			border: none;
			color: white;
			padding: 10px 20px;
			text-decoration: none;
			margin: 2px 1px;
			cursor: pointer;
			}

		.dropbtn {
			margin-left: 10px;
			font-size: 16px;
			border: none;

		}

		.dropbtn1 {
			background-color: #3498DB;
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;

		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			right: 0;
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdown-content1 {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {background-color: #ddd;}

		.dropdown:hover .dropdown-content {display: block;}

		.dropdown:hover .dropbtn {background-color: #C0C0C0;}	

		.dropdown-content1 a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown-content1 a:hover {background-color: #ddd;}

		.dropdown:hover .dropdown-content1 {display: block;}

		.dropdown:hover .dropbtn1 {background-color: #1d6fa5;}	

		#mining_text {
			color: red;
		}

		#myProgress {
			width: 100%;
			background-color: #ddd;
		}

		#myBar {
			width: 1%;
			height: 30px;
			background-color: red;
		}


	</style>

	<script>
		var i = 0;

		const startTimer = () => {
			document.getElementById("mining_text").style.visibility="visible"
			document.getElementById("myProgress").style.visibility="visible"

			if (i == 0) {
				i = 1;
				var elem = document.getElementById("myBar");
				var width = 1;
				var id = setInterval(frame, 125);
				function frame() {
					if (width >= 100) {
						clearInterval(id);
						i = 0;
					} else {
						width++;
						elem.style.width = width + "%";
					}
				}
			}
		}

		const copyKey = () => {
			/* Get the text field */
			const copyText = document.getElementById("publicKey");

			/* Select the text field */
			copyText.select();
			copyText.setSelectionRange(0, 99999); /* For mobile devices */

			/* Copy the text inside the text field */
			document.execCommand("copy");

			/* Alert the copied text */
			alert("Copied the text: " + copyText.value);
		}

		const truncate = (str) => {
			return (str.length > 15) ? str.substr(0, n-1) + '&hellip;' : str;
		};
	
	</script>


	<title><%= title %> · GLOCKOIN</title>
</head>
