<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

		<!-- Main body -->
		<div
			class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"
			style="max-width: 700px"
		>
			<h1 class="display-4">404</h1>
			<p class="lead">Page not found</p>
		</div>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
