<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <% blockchain.forEach(block => { %>
                    <%= block %>
                    <br /><br />
                <% }) %>
                    
                
            </div>
        </center>
        
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
