<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <% if(user === "undefined") { %>
                    <h2> Welcome to GlocKoin, the fastest growing cryptocurrency of this decade </h2>
                    <p> To start using GlocKoin, sign in with your <b> Google account </b> here:</p>
                    <a href="/auth/google">
                        <img alt="SignIn" src="https://www.oncrashreboot.com/images/create-apple-google-signin-buttons-quick-dirty-way-google.png"
                        width="236,25" height="56,25">
                    </a>
                <% } else { %>
                    <p>Available Glockoin: <b><%= user.crypto %></b> </p>
                    <h3> Send money </h3>
                    <form action="/send" method="post">
                        <label for="r_id">Recipient public key:</label><br>
                        <input type="text" id="recipient_id" name="recipient_id" placeholder="Recipient key"><br>
                        <label for="amount">Amount:</label><br>
                        <input type="number" id="amount" name="amount" value="10" min="10" max="<%= user.crypto %>" ><br><br>
                        <% if(code === "51") { %>
                            <div class="code51">INSUFFICIENT FUNDS</div><br><br>
                        <% } else if(code === "00") { %>
                            <div class="code00">SUCCESS</div><br><br>
                        <% } %>
                        <button  class="send" type="submit" value="submit">Send</button>
                      </form> 
                <% } %>
                    
                
            </div>
        </center>
        
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
