<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

        <div class="main-data">
            <p> buy GloCoin</p>
        </div>
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
