<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <% if(user === "undefined") { %>
                    <h2> Welcome to GlocKoin, the fastest growing cryptocurrency of this decade </h2>
                    <p> To start using GlocKoin, sign in with your <b> Google account </b> here:</p>
                    <a href="/auth/google">
                        <img alt="SignIn" src="https://www.oncrashreboot.com/images/create-apple-google-signin-buttons-quick-dirty-way-google.png"
                        width="236,25" height="56,25">
                    </a>
                <% } else { %>
                    <h3> Coinflip </h3>
                    <a href="/coinflip"> Play </a>
                <% } %>        
            </div>
        </center>
	</body>
</html>
