<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <h3> Mine GlocKoin </h3>
                <% blocks.forEach(block => { %>
                    <h4> <%= block._id %> </h4>
                    <button onclick="location.href='/mine:<%= block._id %>' type="button"> Mine this block </button>
                <% }) %>
            </div>
        </center>
        
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
